* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*=================== REUSABLE CLASS ==================================*/
h2 {
  font-size: 48px;
  margin-top: 15px;
  margin-right: 41px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 8px;
  font-weight: 100;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/*=================== HERO SECTION ==================================*/
.parallax {
  background-image: url(img/hero.webp);
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 210px;
  width: 100%;
  height: auto;
}

.flex-end {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
  margin-left: 13px;
  margin-right: 40px;
}

.flex-end h1 {
  font-size: 80px;
  text-transform: capitalize;
}

.flex-end span {
  color: red;
}

.flex-end p {
  max-width: 473px;
  padding-bottom: 30px;
}

.link {
  color: white;
  background: red;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 21px;
}

.link:hover {
  background: white;
  color: red;
  border: 1px solid red;
}

/*=================== PRODUCT INFO SECTION ==================================*/
.product-info-container {
  margin: 60px 0px;
  padding: 0px 16px;
}

.product-info-container p {
  padding-bottom: 40px;
  max-width: 473px;
}

.group-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=================== APPLE SECTION ==================================*/
.apple-container {
  padding: 0px 16px;
  margin: 60px 0px;
}

.apple-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apple-center h2 {
  margin-top: 30px;
}

.apple-center p {
  max-width: 473px;
  margin-bottom: 40px;
}

.apple-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=================== OVERVIEW SECTION ==================================*/
.parallax2 {
  background-image: url(img/image8.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overview-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.overview-container p {
  max-width: 700px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

/*=================== COLORS SECTION ==================================*/
.colors {
  margin: 60px 0px;
}
.grid {
  text-align: center;
}

.grid-item p {
  text-transform: uppercase;
}
.price {
  font-weight: bold;
}

/*=================== HIGHLIGHTS SECTION ==================================*/
.highlights {
  padding: 0px 16px;
  margin: 60px 0px;
}

.highlights-flex {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  padding-bottom: 30px;
  text-transform: capitalize;
  font-weight: 200;
}

.flex-reverse img {
  margin-top: 25px;
  width: 100%;
  max-width: 600px;
  height: auto;
}

/*=================== PARALLAX 3 SECTION ==================================*/
.parallax3 {
  background-image: url(img/gridimg-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 60px 0px;
}

/*=================== TECH SPECS SECTION ==================================*/
.specs-container {
  margin: 60px 0px;
}

.flex-items2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.features-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.info-list,
.features-list {
  text-transform: capitalize;
  font-weight: 200;
}

.specs-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=================== FOOTER SECTION ==================================*/
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  padding: 20px 0px;
}
/*=================== MEDIA QUERIES ==================================*/
@media (max-width: 555px) {
  h2 {
    font-size: 40px;
  }
  .flex-end {
    padding: 0px 20px;
    justify-content: center;
    align-items: flex-start;
  }
  .flex-end h1 {
    font-size: 50px;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .parallax3 {
    background-image: none;
    background: black;
    min-height: 200px;
  }
}

@media (min-width: 800px) {
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .flex-end {
    margin-top: 105px;
    margin-right: 100px;
  }

  .flex-img {
    margin: 0;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .apple-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .apple-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-bg {
    margin-right: 30px;
  }
  .apple-container img {
    margin: 0;
  }

  .flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1100px) {
  .grid {
    padding: 0px 65px;
  }
}

@media (min-width: 1333px) {
  .specs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
  }
  .specs-container img {
    margin: 0;
  }
}
